.main {
  background: #fbfbff 0% 0% no-repeat padding-box;
  height: 800px;
  opacity: 1;
}

.main-title {
  color: #1e232c;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 14px;
  text-align: left;
}

.main-sub-title {
  color: #5f6879;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 32px;
}

.main-btn {
  font-weight: bold;
  height: 45px;
  width: 170px;
}

.main-image {
  height: 645px;
  margin-right: -100px;
  width: 792px;
}

@media (max-width: 991.98px) {
  .image {
    display: none;
  }
}
