.header, a{
  font-size: 14px;
  color: #1e232c;
}

.header, ul, li{
  padding: 0 10px;
}

.navbar {
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #1e232c;
}

.flex {
  flex: 1;
  justify-content: center;
}
