.footer {
  height: 300px;
}

.footer-content {
  margin-top: 220px;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-nav-menu, a{
  color: #5f6879;
  margin: 5px 0;
}

.footer-info {
  color: #5f6879;
  font-size: 12px;
  margin-top: 57px;
}